.btn  {
  border: 1px solid black;
}
.btn:hover  {
  background-color: red;
  transition: all 0.5s;
  transform: scale(1.25);
  
}
#toppings input:hover{
  transition: all 0.5s;
  transform: scale(1.25);
}
#toppings input{
  bottom: 1px;
  align-items: center;
}
#pizza label {
  display: block;
}
.page-Header img {
  width: 1.8%;
}
#left-star1 {
  position: relative;
  left: 39.5%;
  top: 47px;
}
#left-star2 {
  position: relative;
  left: 35.5%;
  top: 47px;
}
#left-star3 {
  position: relative;
  left: 31.5%;
  top: 47px;
}
#right-star1 {
  position: relative;
  left: 58.75%;
  bottom: 54px;
}
#right-star2 {
  position: relative;
  left: 58.75%;
  bottom: 54px;
}
#right-star3 {
  position: relative;
  left: 58.75%;
  bottom: 54px;
}
.page-Header h1 {
  text-align: center;
  background-color: white;
}
.page-Header  {
  background: rgb(164, 0, 0);
}
h1 {
  font-family: Palatino, URW Palladio L, serif;
  color: red;
}
#pizza p {
  margin-top: 4%;
}
#toppings {
  font-family: Palatino, URW Palladio L, serif;
}
.col-lg-6 img {
  display: none;
}
#one-pizza  {
  display: none;
}